.pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    font-size: 12px;
    margin: 20px 0;
}

.current-page {
    font-weight: 600;
    font-size: 17px;
}

.page-numbers {
    display: flex;
    gap: 10px;
}

.btn-pagination{
    padding: 10px 20px;
}