.sortable-column-header {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex: 1;
  line-height: 1.8;
}

.sortable-column-header:first-of-type {
  text-align: left;
  justify-content: start;
  flex: 1.7;
}

.arrows {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  gap: 8px;
}

.arrows .btn.active {
  background-color: rgb(100, 100, 27);
}

.btn-sort {
  padding: 6px;
}
